ul{
    background-color: rgb(49, 28, 146);
    margin-top: 0%;
}
.nav{
    display: inline;
    padding: 15px;
    color: aliceblue;
    font-size: x-large;
    
    
}
.popup-overlay{
    display: none;
}
.add{
    display: block;
margin-top: 3%;}

body{
    margin-left: 5em;
    margin-right: 5em;

}
